<div class="row">
  <div class="col-xs-12">
    <h3 class="text-center">Welcome home <%= @current_user.name %></h3>
  </div>
</div>
<div class="row">
  <%= link_to references_path, class: "" do %>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-5 training-box floaty-box text-center">
      <div class="floaty-box-title">
        <p>References</p>
        <%= image_tag "image.png" %>
      </div>
    </div>
  <% end %>
  <%= link_to challenges_path, class: "" do %>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-5 challenge-box floaty-box text-center">
      <div class="floaty-box-title">
        <p>Challenges</p>
        <%= image_tag "image.png" %>
      </div>
    </div>
  <% end %>
</div>
