<script>
function submit_ma_sqli(target)
{
  $.ajax({
    type:"POST",
    url: target,
    size: $("#ma_size"),
    key_hole: $("#ma_key_hole")
  }).always(function(msg){
    console.log(msg);
    data = $.parseJSON(msg);
    $("#display").hide();
    $("#display-sql").text();
    $("#display-query").text();

    if(data.result == "success")
    {
      $("#display").removeClass("alert-danger");
      $("#display").addClass("alert-success");
      $("#display-sql").text(unescapeHtml(data.sql));
      $("#display-query").text(unescapeHtml(data.query));
    }
    else
    {
      $("#display").removeClass("alert-success");
      $("#display").addClass("alert-danger");
      $("#display-sql").text("An Error has occured: ");
      $("#display-query").text(unescapeHtml(data.error));
    }

    $("#display").show("fast");
  });
}

function set_listeners()
{
  $("#ma_size").keypress(function(event) {
    if(event.keyCode == 13)
    {
      var target = $("#ma_size").attr('target');
      submit_ma_sqli(target);
    }
  });
  $("#ma_key_hole").keypress(function(event) {
    if(event.keyCode == 13)
    {
      var target = $("#ma_size").attr('target');
      submit_ma_sqli(target);
    }
  });

  $("#hint-toggle-link").click(function(){
    $("#hint").toggle();
  });
}

$(document).ready(set_listeners());
</script>

<div class="row">
  <div class="col-xs-12 title">
    <h1>Welcome <%= current_user.name %></h1>
    <h2>Mass Assignment Reference Page</h2>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <nav>
      <ul class="pager">
        <% if @ref_num == 0 %>
          <li class="previous disabled">
            <%= link_to "<span aria-hidden='true'>&larr;</span> Previous".html_safe,
              "#", html_options: {class: "disabled"} %>
          </li>
        <% else %>
          <li class="previous">
            <%= link_to "<span aria-hidden='true'>&larr;</span> Previous".html_safe,
              references_mass_assignment_path(ref_num: @ref_num - 1) %>
          </li>
        <% end %>

        <% if @ref_num == @refs.size-1 %>
          <li class="next disabled">
            <%= link_to "Next <span aria-hidden='true'>&rarr;</span>".html_safe,
              "#", html_options: {class: "disabled", onclick: "reset_submit_listener()" } %>
          </li>
        <% else %>
          <li class="next">
            <%= link_to "Next <span aria-hidden='true'>&rarr;</span>".html_safe,
              references_mass_assignment_path(ref_num: @ref_num + 1) %>
          </li>
        <% end %>
      </ul>
    </nav>
    <hr/>
  </div>
</div>

<%= render partial: "mass_assignment_reference", locals: { ref: @ref } %>

<div class="row top-buffer">
  <div class="col-xs-12 text-center">
    <p><b>Additional Sources</b></p>
    <p><%= link_to "http://blog.remarkablelabs.com/2012/12/strong-parameters-rails-4-countdown-to-2013",
      "http://blog.remarkablelabs.com/2012/12/strong-parameters-rails-4-countdown-to-2013" %></p>
  </div>
</div>
