<!DOCTYPE html>
<html>
<head>
  <title>Destiny</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= nav_bar brand: "Destiny", brand_link: new_user_session_path,
      responsive: true, static: :top do %>
      <%= menu_group do %>
        <%= menu_item "Home", authenticated_root_path %>
        <%= menu_item "Reference", references_path %>
        <%= menu_item "Challenges", "#" %>
        <%= menu_item "Log Out", destroy_user_session_path %>
      <% end %>
    <% end %>
  <% else %>
    <%= nav_bar brand: "Destiny", brand_link: new_user_session_path, static: :top %>
  <% end %>


  <div class="container">
    <div class="row top-buffer">
      <div class="col-xs-4 col-md-offset-4">
        <%= bootstrap_flash %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-offset-4">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
